name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Generate package-lock.json
      run: npm install
      if: ${{ !hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm run pipeline:install

    - name: Run tests
      run: npm run pipeline:test

    - name: Build application
      run: npm run pipeline:build

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t sravanx07/my-api:latest .
        docker push sravanx07/my-api:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Kind Cluster
      uses: helm/kind-action@v1.13.0

    - name: Debug kubeconfig
      run: |
        echo "KUBECONFIG=$KUBECONFIG"
        ls -la ~/.kube || true
        kubectl config get-contexts
        
    - name: Verify Kubernetes Cluster Connection
      run: |
        kubectl cluster-info
        kubectl get nodes
        kubectl get pods --all-namespaces

    - name: Deploy to Kubernetes
      run: |
        helm upgrade --install my-api ./chart \
          --set image.repository=sravanx07/my-api \
          --set image.tag=latest

    - name: Verify Deployment
      run: |
        sleep 20 
        kubectl get pods --all-namespaces -o wide
        kubectl get all -n default
    - name: Get Logs
      run: |
        kubectl logs -l app=my-api
    

    
