name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Generate package-lock.json
      run: npm install
      if: ${{ !hashFiles('**/package-lock.json') }}

    - name: Install dependencies
      run: npm run pipeline:install

    - name: Run tests
      run: npm run pipeline:test

    - name: Build application
      run: npm run pipeline:build

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: "dckr_pat_K790HpRdl1jLxYOR3OkPls4rdZ0"

    - name: Build and push Docker image
      run: |
        docker build -t sravanx07/my-api:latest .
        docker push sravanx07/my-api:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Set up Kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
        chmod 600 $HOME/.kube/config
        kubectl config set-cluster docker-desktop --server=https://kubernetes.docker.internal:6443 --insecure-skip-tls-verify
        kubectl config set-credentials docker-desktop --username=${{ secrets.KUBE_USERNAME }} --password=${{ secrets.KUBE_PASSWORD }}
        kubectl config set-context docker-desktop --cluster=docker-desktop --namespace=kube-public --user=docker-desktop
        kubectl config use-context docker-desktop
      env:
        KUBECONFIG: $HOME/.kube/config

    - name: Verify Kubernetes Cluster Connection
      run: |
        kubectl cluster-info
        kubectl get nodes
      env:
        KUBECONFIG: $HOME/.kube/config

    - name: Deploy to Kubernetes
      run: |
        helm upgrade --install my-api ./chart \
          --set image.repository=sravanx07/my-api \
          --set image.tag=latest
